{% extends "learning_logs/base.html" %}

{% block header %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
  </script>
{% endblock header %}

{% block content %}
  <h1>Locations</h1>
  <ul>
    {% for location in locations %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:location_detail' location.id %}">{{ location.name }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No locations have been added yet.</li>
    {% endfor %}
  </ul>

  <table id="myTable" class="display">
    <thead>
      <tr>
        <th>Name</th>
        <th>Parent Location</th>
        <th>Hierarchy Level</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td>{{ location.name }}</td>
          <td>
              {% if location.parent_location %}
                {{ location.parent_location.name }}
              {% else %}
                Main Location
              {% endif %}
          </td>
          <td>{{ location.hierarchy_level }}</td>
          <td>{{ location.creator.username }}</td>
        </tr>s
      {% endfor %}
    </tbody>
  </table>

  <h3><a href="{% url 'learning_logs:create_location' %}">Add new location</h3>

{% endblock content %}





