{% extends "learning_logs/base.html" %}

{% block header %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
  </script>
{% endblock header %}

{% block content %}
  <h1>Locations</h1>
  <ul>
    {% for location in locations %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:location_detail' location.id %}">{{ location.name }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No locations have been added yet.</li>
    {% endfor %}
  </ul>

<table id="myTable" class="display">
  <thead>
    <tr>
      <th>1st Level Location</th>
      <th>2nd Level Location</th>
      <th>3rd Level Location</th>
      <th>4th Level Location</th>
      <th>Creator</th>
    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
      {% if location.hierarchy_level == 1 %}
        <tr>
          <td>{{ location.name }}</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>{{ location.creator.username }}</td>
        </tr>
      {% elif location.hierarchy_level == 2 %}
        <tr>
          <td>-</td>
          <td>{{ location.name }}</td>
          <td>-</td>
          <td>-</td>
          <td>{{ location.creator.username }}</td>
        </tr>
      {% elif location.hierarchy_level == 3 %}
        <tr>
          <td>-</td>
          <td>-</td>
          <td>{{ location.name }}</td>
          <td>-</td>
          <td>{{ location.creator.username }}</td>
        </tr>
      {% elif location.hierarchy_level == 4 %}
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>{{ location.name }}</td>
          <td>{{ location.creator.username }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

  <h3><a href="{% url 'learning_logs:create_location' %}">Add new location</h3>
  <h3><a href="{% url 'learning_logs:assign_locations' %}">Assign User to location</a></h3>

{% endblock content %}





